@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap");

* {
  font-family: "Outfit", sans-serif;
  text-align: center;
}

body {
  margin: 0px;
}

h1 {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
}

h2 {
  color: hsl(220, 15%, 55%);
  font-weight: 400;
}
.container {
  width: 100vw;
  height: 100vh;
  background: #7cb3ef;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box {
  width: 400px;
  height: auto;
  background: #fff;
  border-radius: 12px;
  position: relative;
  border-radius: 12px;
}

#align-itens-in-box {
  margin: 5%;
  font-size: 15px;
}

.box img {
  width: 100%;
  margin: auto;
  border-radius: 12px;
  position: relative;
}

@media (max-width: 375px) {
  .box {
    width: 90%;
    height: 80%;
    background: #fff;
    border-radius: 12px;
    position: relative;
    border-radius: 12px;
  }
  #align-itens-in-box {
    margin: 5%;
    font-size: 14px;
  }
}
